<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_-2111125173950789204bodyTable" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#ffffff">
      <tbody>
        <tr>
          <td align="center" valign="top" id="m_-2111125173950789204bodyCell" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2111125173950789204templateContainer" style="border-collapse:collapse;border:0;max-width:600px!important">
              <tbody>
                <tr>
                  <td valign="top" id="m_-2111125173950789204templatePreheader" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                      <tbody>
                        <tr>
                          <td valign="top" style="padding-top:9px">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-2111125173950789204mcnTextContentContainer">
                              <tbody>
                                <tr>
                                  <td valign="top" class="m_-2111125173950789204mcnTextContent" style="padding:0px 18px 9px;text-align:center;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%">
                                    <a href="https://us5.campaign-archive.com/?u=7cc7df02f6ef158bca6a2280d&amp;id=f816dbee73&amp;e=cf3b070ae1" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://us5.campaign-archive.com/?u%3D7cc7df02f6ef158bca6a2280d%26id%3Df816dbee73%26e%3Dcf3b070ae1&amp;source=gmail&amp;ust=1618656061652000&amp;usg=AFQjCNFLjmILqOYACk0JVQvQi6bU8r6-0Q">View this email in your browser</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td valign="top" id="m_-2111125173950789204templateHeader" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:40px">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                      <tbody>
                        <tr>
                          <td valign="top" style="padding:9px">
                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse">
                              <tbody>
                                <tr>
                                  <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                    <a href="https://theminimalists.us5.list-manage.com/track/click?u=7cc7df02f6ef158bca6a2280d&amp;id=1afad509a2&amp;e=cf3b070ae1" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://theminimalists.us5.list-manage.com/track/click?u%3D7cc7df02f6ef158bca6a2280d%26id%3D1afad509a2%26e%3Dcf3b070ae1&amp;source=gmail&amp;ust=1618656061652000&amp;usg=AFQjCNGl6eM--YcsA7bFYNQ988oa0KNG7Q">
                                    <img align="center" alt="" src="https://ci3.googleusercontent.com/proxy/D7IkiJcrB4zG_Yk2rtQmHjOVvpjD0ABhMjMp2-1rQgNQ-v8Ot6tSdcDuE7NV2G3J_IbcjDY9DzMLidQT27JDg0t_y88OWSTdOlVU7_YVJZd2xtRHnOcJ8nktf15G7afVRGzIeacxpmp0GVVC_m45bTzpgtHc6Ykfyn0=s0-d-e1-ft#https://gallery.mailchimp.com/7cc7df02f6ef158bca6a2280d/images/69acb078-c355-4f91-a154-977521ffc904.png" width="256" style="max-width:512px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_-2111125173950789204mcnRetinaImage CToWUd">
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td valign="top" id="m_-2111125173950789204templateBody" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0px;padding-bottom:40px">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                      <tbody>
                        <tr>
                          <td valign="top" style="padding-top:9px">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-2111125173950789204mcnTextContentContainer">
                              <tbody>
                                <tr>
                                  <td valign="top" class="m_-2111125173950789204mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#333333;font-family:Georgia,Times,'Times New Roman',serif;font-size:18px;line-height:150%;text-align:left">
                                    Howdy!<br>
                                    <br>
                                    <strong>FREE EBOOK</strong>: Click the link below to download your free copy of the&nbsp;<em>Minimalist Rulebook: 16 Rules for Living with Less</em>, which you can print at home or read on any of your devices. Enjoy!<br>
                                    <br>
                                    <strong>AUDIOBOOK</strong>: If you prefer to listen, The Minimalists recorded an expanded audiobook version of the <em>Minimalist Rulebook</em>, which is <a href="https://theminimalists.us5.list-manage.com/track/click?u=7cc7df02f6ef158bca6a2280d&amp;id=fa1ee0d720&amp;e=cf3b070ae1" style="color:#3b9cdf;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://theminimalists.us5.list-manage.com/track/click?u%3D7cc7df02f6ef158bca6a2280d%26id%3Dfa1ee0d720%26e%3Dcf3b070ae1&amp;source=gmail&amp;ust=1618656061653000&amp;usg=AFQjCNFPAB3GyKi3ux_LDofq2jpqQpbDRg">available</a>&nbsp;for purchase. In this new audiobook, Joshua reads each rule, and then he and Ryan discuss how that rule applies to their own lives—like a short podcast episode to accompany every rule. They also invent some new rules along the way. (Runtime: 2.5 hours.)<br>
                                    <br>
                                    Exciting times!
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2111125173950789204mcnDividerBlock" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
                      <tbody>
                        <tr>
                          <td style="min-width:100%;padding:40px 18px">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:1px solid #cecece;border-collapse:collapse">
                              <tbody>
                                <tr>
                                  <td>
                                    <span></span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                      <tbody>
                        <tr>
                          <td valign="top" style="padding:9px">
                            <table border="0" cellpadding="0" cellspacing="0" class="m_-2111125173950789204mcnCaptionRightContentOuter" width="100%" style="border-collapse:collapse">
                              <tbody>
                                <tr>
                                  <td valign="top" style="padding:0 9px">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" class="m_-2111125173950789204mcnCaptionRightImageContentContainer" width="132" style="border-collapse:collapse">
                                      <tbody>
                                        <tr>
                                          <td align="center" valign="top">
                                            <img alt="" src="https://ci5.googleusercontent.com/proxy/EEf9_7lOsN9xLgU_N5WiZ4GstVQyVKEiyWY2C62MOgQzaor1MuGSiiTtvwLTnlbm67BiVBU6QM4PPBO_C5Jdg-2vz9Bzb7S2vJvqZDODuN1_UoM5bUxHZebRNsvTAvj1kJXhDZlpqPkB8gZcaXkHaM2M0Zsx1LQieAY=s0-d-e1-ft#https://gallery.mailchimp.com/7cc7df02f6ef158bca6a2280d/images/6111e4db-d3a7-47e2-8a44-bb03598f73f2.jpg" width="132" style="max-width:280px;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_-2111125173950789204mcnImage CToWUd">
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table class="m_-2111125173950789204mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="396" style="border-collapse:collapse">
                                      <tbody>
                                        <tr>
                                          <td valign="top" class="m_-2111125173950789204mcnTextContent" style="word-break:break-word;color:#333333;font-family:Georgia,Times,'Times New Roman',serif;font-size:18px;line-height:150%;text-align:left">
                                            <br>
                                            <br>
                                            Ebook (PDF): <a href="https://theminimalists.us5.list-manage.com/track/click?u=7cc7df02f6ef158bca6a2280d&amp;id=d436ff0b28&amp;e=cf3b070ae1" style="color:#3b9cdf;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://theminimalists.us5.list-manage.com/track/click?u%3D7cc7df02f6ef158bca6a2280d%26id%3Dd436ff0b28%26e%3Dcf3b070ae1&amp;source=gmail&amp;ust=1618656061653000&amp;usg=AFQjCNH_OOreOdhKNoHBJWciY2EQk9HMEA">download</a><br>
                                            &nbsp;
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td valign="top" id="m_-2111125173950789204templateFooter" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:1px solid #cecece;border-bottom:0;padding-top:20px;padding-bottom:9px">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                      <tbody>
                        <tr>
                          <td valign="top" style="padding-top:9px">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-2111125173950789204mcnTextContentContainer">
                              <tbody>
                                <tr>
                                  <td valign="top" class="m_-2111125173950789204mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">
                                    <div style="text-align:left">You're receiving this because you subscribed at <a href="https://theminimalists.us5.list-manage.com/track/click?u=7cc7df02f6ef158bca6a2280d&amp;id=27a07524cb&amp;e=cf3b070ae1" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://theminimalists.us5.list-manage.com/track/click?u%3D7cc7df02f6ef158bca6a2280d%26id%3D27a07524cb%26e%3Dcf3b070ae1&amp;source=gmail&amp;ust=1618656061653000&amp;usg=AFQjCNEHLPiIAK_Ygl8IVdKWQ9ka0w5vtg">minimalists.com</a>.<br>
                                      We will&nbsp;never send you junk, spam, or advertisements!<br>
                                      <br>
                                      The Minimalists, 7083 Hollywood Blvd, Los Angeles, CA 90028<br>
                                      <a href="https://theminimalists.us5.list-manage.com/profile?u=7cc7df02f6ef158bca6a2280d&amp;id=94626f0fe7&amp;e=cf3b070ae1&amp;c=f816dbee73" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://theminimalists.us5.list-manage.com/profile?u%3D7cc7df02f6ef158bca6a2280d%26id%3D94626f0fe7%26e%3Dcf3b070ae1%26c%3Df816dbee73&amp;source=gmail&amp;ust=1618656061653000&amp;usg=AFQjCNHYz7wVVYv0crPS9BPmwH88kAnh8A">Update your email preferences</a>&nbsp;or <a href="https://theminimalists.us5.list-manage.com/unsubscribe?u=7cc7df02f6ef158bca6a2280d&amp;id=94626f0fe7&amp;e=cf3b070ae1&amp;c=f816dbee73" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://theminimalists.us5.list-manage.com/unsubscribe?u%3D7cc7df02f6ef158bca6a2280d%26id%3D94626f0fe7%26e%3Dcf3b070ae1%26c%3Df816dbee73&amp;source=gmail&amp;ust=1618656061653000&amp;usg=AFQjCNGN398uG-WpvZJRdSMwELLwC6kXGw">unsubscribe</a>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
