<div class="page type-page status-publish hentry entry">
  <h1 class="entry-title">Thanks!</h1>
  <div class="entry-content">
    <p>Check your email inbox for a message from us. Return to our <%= link_to 'Resources page', posts_path %> for more free resources from IT site.</p>
    <p>Listen to our Private Podcast <%= link_to 'here', posts_path %>.</p>
  </div>
</div>
