<div class="page type-page status-publish hentry entry">
  <h1 class="entry-title">Thanks!</h1>
  <div class="entry-content">
    <p>Check your email inbox for a message from us. Return to our <a href="http://theminimalists.com/resources">Resources page</a> for more free resources from IT site.</p>
    <p>Listen to our Private Podcast <a href="https://www.patreon.com/theminimalists">here</a>.</p>
  </div>
</div>
