<div class="post-feature post-28656 post type-post status-publish format-standard has-post-thumbnail hentry category-minimalism category-podcast entry">
  <h2 class="entry-title"><a class="entry-title-link" rel="bookmark" href="https://www.theminimalists.com/p283/">Podcast 283 | Sentimental Stuff</a></h2>
  <div class="post-info">
    By
    <span class="author vcard">
      <span class="fn"><a href="https://www.theminimalists.com/about/" rel="author external">Joshua Fields Millburn &amp; Ryan Nicodemus</a></span>
    </span>
    ·
    <span class="follow-links">
      Follow: <a href="https://www.facebook.com/theminimalists" target="_blank" rel="noopener">Facebook</a>, <a href="https://twitter.com/theminimalists" target="_blank" rel="noopener">Twitter</a>,
      <a href="https://instagram.com/theminimalists" target="_blank" rel="noopener">Instagram</a>
    </span>
  </div>
  <a href="https://www.theminimalists.com/p283/" class="wp-post-image-anchor">
    <img
      width="500"
      height="333"
      src="https://www.theminimalists.com/wp-content/uploads/2021/03/The_Mins_Podcast_2021-500x333.jpg"
      class="attachment-post-image size-post-image wp-post-image"
      alt=""
      loading="lazy"
      title="The Minimalists on Apple Podcasts"
      srcset="
        https://www.theminimalists.com/wp-content/uploads/2021/03/The_Mins_Podcast_2021-500x333.jpg    500w,
        https://www.theminimalists.com/wp-content/uploads/2021/03/The_Mins_Podcast_2021-300x200.jpg    300w,
        https://www.theminimalists.com/wp-content/uploads/2021/03/The_Mins_Podcast_2021-1024x683.jpg  1024w,
        https://www.theminimalists.com/wp-content/uploads/2021/03/The_Mins_Podcast_2021-768x512.jpg    768w,
        https://www.theminimalists.com/wp-content/uploads/2021/03/The_Mins_Podcast_2021-1536x1024.jpg 1536w,
        https://www.theminimalists.com/wp-content/uploads/2021/03/The_Mins_Podcast_2021-2048x1365.jpg 2048w
      "
      sizes="(max-width: 500px) 100vw, 500px"
    />
  </a>
  <div class="entry-content">
    <p>
      In this episode of <em><a href="http://theminimalists.com/podcast">The Minimalists Podcast</a></em>, Joshua and Ryan discuss minimizing and letting go of sentimental stuff, and they answer the following questions:
    </p>
    <ul>
      <li>How do we tactfully and appropriately address loved ones regarding stuff they’ve given us that we’re giving away—especially those things they consider of significant sentimental value?</li>
      <li>How do we avoid arguments with loved ones regarding possessions?</li>
      <li>Why does our brain try so hard to hold us back from releasing sentimental possessions?</li>
      <li>What do we do with all of the things associated with a loved one when we’ve lost them in a particularly tragic, traumatic way?</li>
    </ul>
    <h3><a href="https://youtu.be/UAtGcvratLM">Video Stream</a></h3>
    <div class="responsive-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UAtGcvratLM?autohide=1&amp;modestbranding=1&amp;rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
      <noscript><iframe width="560" height="315" src="https://www.youtube.com/embed/UAtGcvratLM?autohide=1&modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe></noscript>
    </div>
    <h3>Subscribe</h3>
    <p>
      <a href="https://podcasts.apple.com/us/podcast/the-minimalists-podcast/id1069757084">Apple Podcasts</a>&nbsp;· <a href="https://open.spotify.com/show/5ECF0soZ1H5NxZHanAzUYd">Spotify</a>&nbsp;·&nbsp;
      <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly90aGVtaW5pbWFsaXN0cy5saWJzeW4uY29tL3Jzcw">Google Podcasts</a> · <a href="https://soundcloud.com/theminimalists">Soundcloud</a> ·&nbsp;
      <a href="https://traffic.libsyn.com/theminimalists/283_Sentimental_Stuff.mp3">MP3</a>
    </p>
    <h3>Minimal Maxims</h3>
    <p>
      Joshua &amp; Ryan’s pithy, shareable, less-than-140-character responses. Find more quotes from The Minimalists at <em><a href="http://minimalmaxims.com">MinimalMaxims.com</a></em>.
    </p>
    <ul>
      <li>“There are no shoulds—only coulds.” —Joshua Fields Millburn</li>
      <li>“Our memories are not in our things; our memories are inside us.” —Joshua Fields Millburn</li>
      <li>“Letting go is part of the grieving process.” —Joshua Fields Millburn</li>
      <li>“Letting go is not something you do; letting go is something you stop doing.” —Joshua Fields Millburn</li>
      <li>“If we let go too soon, we fall; if we hold on to long, we stall.” —Joshua Fields Millburn</li>
      <li>“Letting go is an act of self-compassion.” —Ryan Nicodemus</li>
      <li>“Sometimes letting go of shoulds is more freeing than letting go of stuff.” —Ryan Nicodemus</li>
    </ul>
    <h3>Mentioned in This Episode</h3>
    <ul>
      <li>Added Value: <a href="https://youtu.be/wEBlaMOmKV4">“A Change Is Gonna Come”</a></li>
      <li>
        Book: <a href="https://amzn.to/322Srz4"><em>Everything That Remains</em></a>
      </li>
      <li>
        Book: <a href="https://www.theminimalists.com/lovepeopleusethings/"><em>Love People, Use Things</em></a>
      </li>
      <li>Essay: <a href="https://www.theminimalists.com/stop/">Letting Go Is Not Something You Do</a></li>
      <li>Explore: <a href="https://letmegooglethat.com/?q=What+is+the+answer+to+life%2C+the+universe%2C+and+everything%3F">42</a></li>
      <li>Instagram: <a href="https://www.instagram.com/jordanknowmoore">Jordan Moore</a></li>
      <li>Instagram: <a href="https://instagram.com/podcastshawn">Podcast Shawn</a></li>
      <li>Instagram: <a href="https://www.instagram.com/jessbreathes">Jess Williams</a></li>
      <li>Patreon: <a href="https://www.patreon.com/theminimalists">The Minimalists</a></li>
      <li>
        Podcast: <a href="https://www.patreon.com/howtolove"><em>How to Love</em></a>
      </li>
      <li>Resources: <a href="https://www.theminimalists.com/resources/">The Minimalists</a></li>
      <li>Subscribe: <a href="http://theminimalists.email">The Minimalists</a></li>
      <li>Text: <a href="https://www.theminimalists.com/text/">937-202-4654</a></li>
      <li>Tour: <a href="https://www.theminimalists.com/tour/">The Minimalists</a></li>
      <li>
        Watch: <a href="https://www.netflix.com/title/81074662"><em>Less Is Now</em></a>
      </li>
      <li>Watch: <a href="https://www.goodmorningamerica.com/living/video/minimalists-helping-followers-streamline-lives-73732130">The Minimalists Help Followers Streamline Their Lives</a></li>
    </ul>
    <div class="subscribe-line">Subscribe to The Minimalists via <a href="http://theminimalists.email/">email</a>.</div>
  </div>
</div>
