<div class="spyr_sliding_share">
  <div class="spyr_sliding_share_text">SHARE</div>
  <div class="spyr_sliding_share_wrap">
    <div class="spyr_sliding_share_button spyr_sb_facebook">
      <a href="#" class="icon icon-facebook" aria-label="Facebook"><span>Facebook</span></a>
      <div class="spyr_sb_inner">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.theminimalists.com/p283/" class="sliding-share-button ssb-facebook" target="_blank" rel="noopener"><i class="fa fa-lg fa-facebook-square"></i> Share</a>
      </div>
    </div>
  </div>
  <div class="spyr_sliding_share_wrap">
    <div class="spyr_sliding_share_button spyr_sb_twitter">
      <a href="#" class="icon icon-twitter" aria-label="Twitter"><span>Twitter</span></a>
      <div class="spyr_sb_inner">
        <a
          href="https://twitter.com/intent/tweet?source=https://www.theminimalists.com/p283/&amp;text=Podcast+283+%7C+Sentimental+Stuff+https%3A%2F%2Fwww.theminimalists.com%2Fp283%2F&amp;via=TheMinimalists"
          class="sliding-share-button ssb-twitter"
          target="_blank"
          rel="noopener"
        >
          <i class="fa fa-lg fa-twitter"></i> Tweet
        </a>
      </div>
    </div>
  </div>
  <div class="spyr_sliding_share_wrap">
    <div class="spyr_sliding_share_button spyr_sb_mail">
      <a href="#" class="icon icon-mail" aria-label="Email a Friend"><span>Email a Friend</span></a>
      <div class="spyr_sb_inner">
        <a href="mailto:?subject=Podcast 283 | Sentimental Stuff&amp;body=I found value in this and I think you will too.%0A%0APodcast 283 | Sentimental Stuff: https://www.theminimalists.com/p283/">Email a Friend</a>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
