#gform_fields_15 {
  margin-bottom: 0;
}

#gform_15, #query {
  height: 42px;
}

a:hover {
  color: black;
}

.post-query, #notice {
  color: #CC0000;
}

#user_email, #user_password, #user_password_confirmation, #post_title {
  width: 100%;
  height: 42px;
}

#post_short_description {
  width: 100%;
  height: 84px;
  padding: 6px;
}

form {
  font-family: Palatino,'Times New Roman','Times','Georgia',serif;
}

form .field {
  margin-top: 10px;
}

#post_short_description, #post_title {
  font-size: 15px;
}

.actions {
  margin-top: 10px;
}

label[for='post_feature_image'], .post-info span {
  cursor: pointer;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #CC0000;
}

.comment-threads {
  padding-left: 0;
  margin-left: 0;
}

.card:not(.card-reply) {
  margin-bottom: 10px;
}

.login-to-comment {
  text-decoration: auto;
  &:hover {
    text-decoration: auto;
  }
}

.comment-submit, .reply-submit {
  float: right;
  margin-top: 10px;
  height: 30px !important;
}

.reply-submit-discard {
  background: #fff;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    background: #fff;
    color: #000;
  }
}

.avatar--md {
  width: 37px;
  max-height: 37px;
}

.avatar {
  display: block;
  width: 37px;
  height: auto;
  margin: auto;
  cursor: pointer;
  border-radius: 100%;
}

.avatar-list {
  width: 20px;
  margin-top: 2px;
}

.user-name {
  cursor: pointer;
  background: #000;
  border: none;
  color: #999;
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  opacity: 0.9999;
  padding: 12px 18px;
  text-align: left;
  text-transform: uppercase;
  &:hover {
    opacity: 1;
    color: #fff;
  }
}

#menu-social .parent-menu-item {
  font-size: 18px;
}

#menu-social li {
  margin-top: 12px;
}

.login-to-comment i, .comment-threads i {
  font-size: 14px;
}
