<div class="feature-area widget-area">
  <div id="custom_html-4" class="widget_text notify_bar widget widget_custom_html">
    <div class="widget_text widget-wrap">
      <div class="textwidget custom-html-widget">Download our free ebook: <a href="https://www.itsite.me">16 Rules for Living with Less</a></div>
    </div>
  </div>
  <div id="custom_html-2" class="widget_text widget widget_custom_html">
    <div class="widget_text widget-wrap">
      <div class="textwidget custom-html-widget">
        <%= link_to image_tag("about.png", alt: "ITsite", width:"205", height:"138"), '/about', class: "desktop-only" %>
        <%= link_to image_tag("about-mobile.png", alt: "ITsite", width:"670", height:"276"), '/about', class: "mobile-only" %>
        <div>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
        </div>
      </div>
    </div>
  </div>
</div>
