<div id="header">
  <div class="wrap">
    <div id="title-area">
      <h1 id="title"><a href="https://www.itsite.com/">IProject</a></h1>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div id="nav">
  <div class="wrap">
    <ul class="menu genesis-nav-menu menu-primary">
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
        <a href="/">Blog</a>
        <ul class="sub-menu">
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Start Here</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/">Popular Essays</a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/">All Essays</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-post"><a href="/">30-Day Minimalism Game</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-post"><a href="/">How to Start a Blog</a></li>
        </ul>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Podcast</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Books</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Films</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Events</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Resources</a></li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
        <a href="/">About</a>
        <ul class="sub-menu">
          <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/">The Minimalists</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Bio, Photos, &amp; Praise</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">What’s Minimalism?</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Our 21-Day Journey</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Interviews</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Hire to Speak</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Writing Class</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Contact</a></li>
        </ul>
      </li>
      <li class="menu-item menu-item-type-custom menu-item-object-custom"><a target="_blank" rel="noopener" href="/">Patreon</a></li>
    </ul>
  </div>
</div>
