<div class="feature-area-bottom">
  <div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_15">
    <%= form_with model: @subscriber, local: true, id: 'gform_15' do |f| %>
      <div class="gform_body">
        <ul id="gform_fields_15" class="gform_fields top_label form_sublabel_below description_below">
          <li id="field_15_1" class="gfield gfield_contains_required field_sublabel_below field_description_below hidden_label gfield_visibility_visible">
            <div class="ginput_container ginput_container_email">
              <%= f.text_field :email, class: 'medium', placeholder: "Email Newsletter" %>
            </div>
          </li>
        </ul>
      </div>
      <div class="gform_footer top_label">
        <%= f.submit 'Submit', class: 'gform_button button', id: 'gform_submit_button_15' %>
      </div>
    <% end %>
  </div>
  <div class="social_menu">
    <ul id="menu-social" class="menu">
      <li class="menu-item menu-social-facebook">
        <a href="/" target="_blank" rel="noopener" class="parent-menu-item fa fa-facebook" aria-label="Facebook"><span>Facebook</span></a>
      </li>
      <li class="menu-item menu-social-twitter menu-item-has-children">
        <a href="/" target="_blank" rel="noopener" class="parent-menu-item fa fa-twitter" aria-label="Twitter"><span>Twitter</span></a>
      </li>
      <li class="menu-item menu-social-photos menu-item-has-children">
        <a href="/" target="_blank" rel="noopener" class="parent-menu-item fa fa-instagram" aria-label="Instagram"><span>Instagram</span></a>
      </li>
      <li class="menu-item menu-social-youtube">
        <a href="/" target="_blank" rel="noopener" class="parent-menu-item fa fa-youtube" aria-label="YouTube"><span>YouTube</span></a>
      </li>
      <li class="menu-item menu-social-search menu-item-has-children">
        <a href="/" class="parent-menu-item fa fa-search" aria-label="Search"><span>Search</span></a>
        <ul class="sub-menu">
          <li class="menu-item">
            <form class="themins_search_form" action="/" method="get"><input id="s" type="text" name="s" value="" placeholder="Search" /> <input id="searchsubmit" type="submit" value="Go" /></form>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
